<form [formGroup]="loginForm" (ngSubmit)="submit()" >
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="text"
        matInput
        name="email"
        formControlName="email"
        placeholder="Your email..."
        value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text"
          matInput
          name="name"
          formControlName="name"
          placeholder="Your name..."
          value="">
      </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password"
        matInput
        name="password"
        formControlName="password"
        placeholder="Your password..." >
    </mat-form-field>
    <button mat-stroked-button type="submit"  [disabled]="!loginForm.valid">Submit</button>
  </form>
