.cart-content{
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100vh;
        // width: 100%;
}
.clear-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
}
.cart-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}