<div class="container">
    <h2>Mon Panier</h2>
    
    <div class="cart-items" *ngIf="cartItems.length === 0">
      <p>Le panier est vide.</p>
    </div>
    <div class="cart-items" *ngFor="let item of cartItems">
      <h3>{{ item.title }}</h3>
      <p style="padding-left: 10px;">Auteur : {{ item.author }}</p> <br/>
      <p>Prix : {{ item.price | currency }}</p> <p style="padding-left: 10px;">  Quantity: {{item?.quantity}}</p> 
    </div>
    <div class="clear-button"> ,
        <p style="padding-right: 20px;">Total: {{ getTotal() | currency }} </p><br/>
        <button  (click)="clearCart()">Vider le Panier</button>

    </div>
    
  </div>