<!-- <nav>
    <a routerLink="/">Cours</a>
    <a routerLink="/cart">Panier</a>
  </nav> -->
  <nav >
    <ul >
      <li>
        <!-- [routerLinkActive]="'active' vs routerLinkActive="active" -->
        <a routerLink="/" [routerLinkActive]="'active'">
          Courses
        </a>
        
      </li>
      <li>
        <!-- [routerLinkActive]="'active' vs routerLinkActive="active" -->
        <a routerLink="/cart" [routerLinkActive]="'active'">
          Cart
        </a>
        
      </li>
      <button  mat-icon-button *ngIf="!authService.isLoggedIn" routerLink="/auth" routerLinkActive="active"class="example-icon" aria-label="item.desc">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button *ngIf="authService.isLoggedIn" (click)="authService.logout()" class="example-icon" aria-label="item.desc">
        <mat-icon>logout</mat-icon>
      </button>
    </ul>
  </nav>
  <router-outlet></router-outlet>